@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alkalami', serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/image1.webp');
    height: 600px;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #cdc4ba85;
    border: 2px solid #cdc4ba;
    color: #99a39e;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro-text {
    height: 250px;
    background-color: #5e3b33;
    color: #9fa8a8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

}

.quality-image {
    background-attachment: fixed;
    background-image: url(../img/image2.jpeg);
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #9b94939f;
    border: 2px solid #201617;
    color: #a45444;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;

}

.quality-image__link a:hover {
    transform: scale(1.2);
}

.quality-text {
    height: 250px;
    background-color: #826059;
    color: #9b9493;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: #201617;
    color: #9b9493;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;

}

.footer ul li a {
    color: #9b9493;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #f9f5f4;
    transform: scale(1.3);
}

.origin-image {
    background-attachment: fixed;
    background-image: url(../img/image3.webp);
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
   background-color:  #bdb69d83;
    border: 2px solid #2e2021;
    color: #874639;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;

}

.origin-image__link a:hover {
    transform: scale(1.2);
}

.origin-text {
    height: 250px;
    background-color: #6b4f49;
    color: #b9b0ae;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}